
html{
    background: black;
    text-align: justify;
    text-justify: inter-word;

}

.container-fluid {
    background-image: url("dream.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: black; */
    font-family: "sans-serif";
    position: fixed;
    height: 100%;
    width: 100%;
    color: rgb(38, 0, 191);
    
}

.container-fluid {
    display: block;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.page_header {
    top: 1px;
    display: block;
    margin: auto;
    position: relative;
    height: 5em;
    width: 100%;
    background: #65658c;
    padding: 0px;
    margin: 0px;
    border-top: 10px solid black; 
    border-bottom: 10px solid black; 
 

}

.page_header h1{
    font-size: 3rem;
    margin-left: 10%;
}

.sofia{
    font-family: 'Sofia';
    color: rgba(120, 2, 134, 4);
}

/* div div div:hover {
    background: #acaf82;
    background :#65658c;

}  */

#book h1, h4 {
    color: purple;
    text-align: center;
}



img {

    border: 6px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 444px;
    width: 289.5px;
}


h3 {
    font-style: italic;
}


button {
    background-color: blue;
    border: none;
    color: silver;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #e0e0eb;
} 


button.dislike {
    background-color:firebrick; 
}

span.dislike {
    color: firebrick;
}

button.like {
    background-color:darkgreen; 
}

span.like {
    color: green;
}

@media (max-width:1000px){
}


 #book {
    top: 30px;
    border-style: solid;  
    border-color:#290004;
    /* border-width: 30px;  */
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-right: 30px; 
    padding-left: 30px; 
    margin: auto;
    display: block;
    background: #65658c;
    border: 10px solid black; 

} 

#searchdiv{
    display: block;
    position: relative;
    margin: auto;
    top: 100px;
    width: 400px;
    height: 400px;
    background: #65658c;
    border: 10px solid black; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-right: 30px; 
    padding-left: 30px;
}

form#search{
    position: relative;
    display: block;
    top: 10%;
}

form#search input{
    width: 100%;
}


#final{
    position: relative;
    margin: auto;
    top: 100px;
    width: 300px;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    background: #65658c;
    border: 10px solid black;
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-right: 30px; 
    padding-left: 30px;
    tex
}



/* .container-fluid{
    margin-top: 20px; 
    border-style: solid;
    border-width: 50px;
    border-color:#290004;

}  */


.selected{
    font-size: 30px;
}


.selected.like {
    background-color : rgb(2, 110, 43); 
}


.selected.dislike {
    background-color : rgba(150, 30, 0); 
}


.notselected {
    font-size: 10px;
}


.like:hover {
    background-color: rgb(2, 110, 43);
    font-size: 20px;
}


.dislike:hover {
    background-color: rgb(150, 30, 0);
    font-size: 20px;
}


.selected:hover {
    font-size: 30px;
}


.notselected:hover {
    font-size: 10px;
}


a {
    color: rgb(12, 0, 12) ;
    text-decoration: underline; 
}

label {
    color: goldenrod;
}

p {
     display: block; 
     /* width: 40%; */
}

.top {
    border: 0;
    display: block;
}

#labelsdiv {
        /* background: #65658c; */
        position: relative;
        top: 50px; 
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        color: brown;
}

#clock {
    text-align: right;
    color: blue;
    background-color: black;
    margin: auto;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 5px;
    
}

#hourglass{
    display: block;
    position: relative;
}

/* .hidden {
    display: none;
 } */